@model IEnumerable<Student>

@{
    // Layout = "~/Views/Shared/_Layout.cshtml"; // absolut path need extension
    ViewBag.Title = "ManageStudent  | Students";
}

<div class="my-5 text-left">
    <h2> List of Students </h2>
    <hr />
</div>

<table  id="StudentsTable" class="table table-hover text-center">
    <thead class="alert-dark">
        <tr>
            <th scope="col">Cin</th>
            <th scope="col">IsActive</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Filiére</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Student student in Model)
            {
                <tr>
                    <td>@student.CIN</td>
                    <td>@student.IsActive</td>
                    <td>@student.Prenom</td>
                    <td>@student.Nom</td>
                    <td>@student.Adresse</td>
                    <td>@student.Filiere</td>
                    <td>

                        <form method="post" asp-action="DeleteStudent" asp-controller="Student" asp-route-id="@student.CIN">
                            <a class="btn btn-warning text-white btn-sm" asp-action="EditStudent" asp-controller="Student" asp-route-id="@student.CIN">Update</a> 
                            <button type="submit" class="btn btn-secondary btn-sm" onclick="return confirm('Are you sure ??')">Delete</button>
                        </form>

                        
                    </td>
                </tr>

            }
        }


    </tbody>
</table>

<div class="my-5 text-center">
    <a  asp-action="AddStudent">Add Student</a> |
    <a  asp-action="index">Back to Home</a>
</div>

@section DTListStudents{
    <script>
        $(document).ready(function () {
            $('#StudentsTable').dataTable();
        });


    </script>


}

