@model IEnumerable<Student>

@{
    // Layout = "~/Views/Shared/_Layout.cshtml"; // absolut path need extension
    ViewBag.Title = "ManageStudent  | List";
}

<p class="alert alert-info my-4 text-center"> List of students </p>
<table  id="StudentsTable" class="table table-hover text-center">
    <thead class="alert-dark">
        <tr>
            <th scope="col">Cin</th>
            <th scope="col">IsActive</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Filiére</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Student student in Model)
            {
                <tr>
                    <td>@student.CIN</td>
                    <td>@student.IsActive</td>
                    <td>@student.Prenom</td>
                    <td>@student.Nom</td>
                    <td>@student.Adresse</td>
                    <td>@student.Filiere</td>
                    <td>
                        <a asp-action="EditStudent" asp-controller="Student" asp-route-id="@student.CIN">Edit</a> |
                        <a asp-action="DeleteStudent" asp-controller="Student" asp-route-id="@student.CIN" onclick="return confirm('Are you sure ??')">Delete</a>
                    </td>
                </tr>

            }
        }


    </tbody>
</table>
<div class="my-5 text-center">
    <a class="btn btn-sm my-auto btn-success" asp-action="AddStudent">Add Student</a>
    <a class="btn btn-sm my-auto btn-secondary" asp-action="index">Back to Home</a>
</div>

@section DTListStudents{
    <script>
        $(document).ready(function () {
            $('#StudentsTable').dataTable();
        });


    </script>


}

