@model Student

@{
    ViewBag.Title = "ManageStudent | Student Profil";
}

<div class="my-5 text-left">
    <h2> Student Info </h2>
    <hr />
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Cin</th>
            <th scope="col">IsActive</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Filiére</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.CIN</td>
            <td>@Model.IsActive</td>
            <td>@Model.Prenom</td>
            <td>@Model.Nom</td>
            <td>@Model.Adresse</td>
            <td>@Model.Filiere</td>
            <td>
                <a class="btn btn-warning btn-sm" asp-action="EditStudent" asp-controller="Student" asp-route-id="@Model.CIN">Update</a>

            </td>
        </tr>

    </tbody>

</table>

<div class="my-5 text-center">
    <a asp-action="index" asp-controller="student">Back to Home</a>
</div>
